.styleL {
  right: 14rem !important;
}

.styleLW {
  width: 1.7rem !important;
}

@media all and (max-width: 1320px) {
  .style {
    width: 13rem !important;
  }

  .styleL {
    right: 12rem !important;
  }
}

@media all and (max-width: 908px) {
  .style {
    width: 11rem !important;
  }

  .styleL {
    right: 10rem !important;
  }
}

@media all and (max-width: 798px) {
  .style {
    width: 9rem !important;
  }

  .styleL {
    right: 8rem !important;
  }

  .styleLW {
    width: 1.5rem !important;
  }
}

@media all and (max-width: 668px) {
  .style {
    width: 8rem !important;
  }

  .styleL {
    right: 7rem !important;
  }
}

@media all and (max-width: 600px) {
  .style {
    width: 100% !important;
    margin: auto !important;
  }

  .styleL {
    left: 5% !important;
    bottom: 2.2rem !important;
  }
}
